<% include ./partials/header %>
    <div class="row">
        <div class="col-md-12">
            <form class="form-signin" action="/register" method="POST">
              <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
              <label for="inputUsername" class="sr-only">Username</label>
              <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
				<label for="inputFirst" class="sr-only">First Name</label>
				<input type="text" class="form-control" id="inputFirst" name="firstName" placeholder="First Name" required autofocus>
				<label for="inputLast" class="sr-only">Last Name</label>
				<input type="text" class="form-control" id="inputLast" name="lastName" placeholder="Last Name" required autofocus>
				<label for="inputEmail" class="sr-only">E-mail Address</label>
				<input type="email" class="form-control" id="inputEmail" name="email" placeholder="address@domain.com" autofocus>
				<label for="avatar" class="sr-only">Avatar url</label>
				<input type="text" class="form-control" id="avatar" name="avatar" placeholder="Avatar URL" autofocus>
			<p>
			<label for="adminCode" class="sr-only">Admin Code</label>
           	 <input type="password" class="form-control" name="adminCode" placeholder="Admin Code">
			</p>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            </form>
            <div class="form-signin">
                <a href="/campgrounds">Go Back</a>
            </div>
        </div>
    </div>
<% include ./partials/footer %>
